* {
  border: 0;
  margin-left: 0;
}

body {
  background-color: rgb(39, 39, 39);
  text-align: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: inline-block;
}

header {
  width: 100vw;
}

h1 {
  color: white;
  font-size: 60px;
}

#color-palette-container {
  width: 100vw;
  display: inline-block;
  background-color: rgb(50, 54, 54);
}

#pixel-board-container {
  width: 100vw;
  display: inline-block;
}

#btn-container {
  width: 100vw;
  display: inline-block;
  background-color: rgb(230, 94, 15);
  justify-items: center;
  align-items: center;
}

ul {
  display: inline-block;
  padding-inline-start: 0;
}

#generate-board {
  margin: 3vh 0;
  padding: 0 1vw;
  display: inline-block;
  height: 35px;
  background-color: green;
  color: white;
  border: black 1px solid;
  border-radius: 10%;
}

.btn-reset {
  margin: 3vh 0;
  display: inline-block;
  height: 35px;
  background-color: blueviolet;
  color: white;
  border: black 1px solid;
  border-radius: 10%;
}

#generate-board:hover {
  background-color: rgb(2, 95, 2);
  border: white 1px solid;
}

.btn-reset:hover {
  background-color: rgb(106, 32, 175);
  border: white 1px solid;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  border: 1px solid black;
}

/* div .firstBox {
  background-color: black;
}

div .secondBox {
  background-color: red;
}

div .thirdBox {
  background-color: yellow;
}

div .fourthBox {
  background-color: green;
}

div .fifthBox {
  background-color: rgb(245, 223, 195);
}

div .sixthBox {
  background-color: white;
} */

#color-palette .selected:hover {
  border: white solid 0.5px;
}

#pixel-board {

  --size: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(var(--size), 41px); /* variavel do javaScript */
  grid-template-rows: repeat(var(--size), 1fr);
  justify-content: center;
  padding-top: 30px;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: black solid 1px;
}

