* {
  border: 0;
  margin-left: 0;
}

header {
  width: 100vw;
  background-color: aqua;
}

#color-palette-container {
  display: inline-block;
  width: 100vw;
  background-color: aqua;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  border: 1px solid black;
}

.firstBox {
  background-color: black;
}

.secondBox {
  background-color: red;
}

.thirdBox {
  background-color: yellow;
}

.fourthBox {
  background-color: green;
}

.fifthBox {
  background-color: rgb(245, 223, 195);
}

.sixthBox {
  background-color: white;
}

#pixel-board {
  width: 100vw;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(5, 41px);
  grid-template-rows: repeat(5, 41px);
  background-color: rgb(138, 219, 219);
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: black solid 1px;
}

