* {
  border: 0;
  margin-left: 0;
}

body {
  background-color: aqua;

  /* text-align: center;
  justify-items: center;
  align-items: center; */
}

header {
  width: 100vw;
}

#color-palette-container {
  width: 100vw;
  display: inline-block;
}

.btn-container {
  width: 100vw;
  display: inline-box;
  justify-items: center;
  align-items: center;
  transition: 500;
}

#btn-container {
  width: 100vw;
  display: inline-block;
}

.btn-reset {
  margin: 3vh;
  margin-left: 6.5vw;
  display: inline-block;
  height: 35px;
  background-color: blueviolet;
  color: white;
  border: black 1px solid;
}

.btn-reset:hover {
  background-color: rgb(106, 32, 175);
  border: white 1px solid;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  border: 1px solid black;
}

div .firstBox {
  background-color: black;
}

div .secondBox {
  background-color: red;
}

div .thirdBox {
  background-color: yellow;
}

div .fourthBox {
  background-color: green;
}

div .fifthBox {
  background-color: rgb(245, 223, 195);
}

div .sixthBox {
  background-color: white;
}

#color-palette .selected:hover {
  border: white;
}

#pixel-board {

  --size: 0;
  width: 100vw;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(var(--size), 41px); /* variavel do javaScript */
  grid-template-rows: repeat(var(--size), 41px);
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: black solid 1px;
}

